:root {

  /*Neutral*/
 
   --BrightBlue: hsl(220, 98%, 61%);
   --CheckBackground:  hsl(192, 100%, 67%), hsl(280, 87%, 65%); 
 
   /* //Dark Theme */
   --body: hsl(235, 21%, 11%);
   --labels: hsl(235, 24%, 19%);
   --activeFonts: hsl(234, 39%, 85%);
   --inactiveFonts: hsl(233, 14%, 35%);
   --hoverFont:  hsl(236, 33%, 92%);
   --buttonBorder: hsl(237, 14%, 26%);
   --lastLabelFonts: hsl(234, 11%, 52%);
 
 }
 
 .light-mode{
 
   /* Light Theme */
   --body: hsl(236, 33%, 92%);
   --labels: hsl(0, 0%, 98%);
   --activeFonts: hsl(235, 19%, 35%);
   --inactiveFonts: hsl(233, 11%, 84%);
   --hoverFont: hsl(235, 19%, 35%);
   --buttonBorder:   hsl(233, 11%, 84%);
   --lastLabelFonts:  hsl(236, 9%, 61%);
 
 }
 
 main {
 
   color: var(--activeFonts);
   padding: 2rem;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
 
 }
 
 .header-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: hsl(236, 33%, 92%);
 }
 
 #theme-switch{
   background-color: transparent;
   border: none;
   cursor: pointer;
 }
 
 
 
 #theme-switch img:last-child{
   display: none;
   
 }
 .light-mode #theme-switch img:first-child{
   display: none;
 }
 .light-mode #theme-switch img:last-child{
   display: block;
 }
 
 h1 {
   text-transform: uppercase;
   letter-spacing: 10px;
 }
 .new-todo-container{
   display: flex;
   gap: .5rem;
   padding: 1rem;
   background-color: var(--labels);
   border-radius: 5px;
 
 }
 
 .submit-button{
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 2px solid var(--buttonBorder);
   background-color: transparent;
   &:hover{
     background-image: 
     linear-gradient(rgb(87, 221, 255), rgb(192, 88, 243));
     cursor: pointer;
   }
 }
 
 input[type="text"]{
   background-color: transparent;
   border: none;
   font-family:  "Josefin Sans", sans-serif;
   color: var(--activeFonts);
   font-size: 1rem;
   width: 100%;
 
   &:focus{
     outline: none;
     border: none;
     box-shadow: none;
   }
 }
 
 .todo-list{
   li{
     display: flex;
     align-items: center;
     justify-content: space-between;
   }
 }
 
 
 
 label {
   display: flex;
   align-items: flex-end;
   justify-content: left;
   gap: .5rem;
 
   &:hover{
     cursor: pointer;
   }
 }
 
 .cross-icon{
   justify-self: flex-end;
   margin-left: auto;
 
   &:hover{
     cursor: pointer;
   }
 }
 
 input[type="checkbox"] {
   appearance: none;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 2px solid var(--buttonBorder);
   position: relative;
   display: flex;
   align-items: center;
   z-index: 3;
   &:hover{
 
       background-image: 
     linear-gradient(rgb(87, 221, 255), rgb(192, 88, 243));
     cursor: pointer;
   }
 }
 
 
 input[type="checkbox"]:checked {
   position: relative;
   background-image: 
     linear-gradient(rgb(87, 221, 255), rgb(192, 88, 243));
     
 
 }
 
 input[type="checkbox"]:checked::after {
   position: absolute;
   content: "";
   position: absolute;
   z-index: 1000;
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   background-image: url(/public/images/icon-check.svg);
   background-position: 80% 70%;
 }
 
 ul {
   background-color: var(--labels);
   list-style: none;
   border-radius: 5px;
   margin: 0;
   padding: 0;
 }
 
 li {
   padding: 1rem;
   border-bottom: solid 1px var(--buttonBorder);
 
 }
 
 .todo-text {
   color: var(--activeFonts);
   margin: 0;
 
 }
 
 .last-label{
   display: flex;
   justify-content: space-between;
   color: var(--lastLabelFonts);
 }
 .action-button{
   background-color: transparent;
   border: none;
   color: var(--lastLabelFonts);
   font-family:  "Josefin Sans", sans-serif;
   
   &:hover{
       color: var(--hoverFont);
       cursor: pointer;
     
   }
 }
 
 .button-label{
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
   gap: 1.5rem;
   margin: 0;
   button{
      font-weight: 700;
   }
 
  
 }
 
 .drag-n-drop{
   text-align: center;
   color: var(--lastLabelFonts);
 }
 
 
 @media (min-width:576px) {
   
 main{
   width: 30rem;
 }
 
 }